html,body{
  padding:0px;
  margin:0px;
  background-color:black;
  color:#ffe4b5 !important;
}
p{
  font-size:14px !important;
}
.headerImage{
  background-image:url('../../public/headerImage.png');
  width: 100%;
}
.header{
  color:  rgb(230, 197, 140)!important;
    font-size: 80px;
    font-weight: 100;
    margin: 0%;
    padding: 100px;
}
.font-bold{
  font-weight: 300 ;
}
.Dsopacity1{
  background-color: black;
  opacity: .8;
}
.w35{
  width: 35%;
}
.padding-100{
  padding: 200px;
}
@media screen and (max-width: 600px) {
  .w35{
    width:100%;
}
.padding-100{
  padding: 100px;
}
}